[submodule "gtest"]
	path = gtest
	url = https://github.com/google/googletest
	branch = master
[submodule "celero"]
	path = celero
	url = https://github.com/DigitalInBlue/Celero.git
	branch = master
[submodule "gbenchmark"]
	path = gbenchmark
	url = https://github.com/google/benchmark
